/* 기본 스타일 */
html, body {
    margin: 0; /* html과 body의 여백을 제거 */
    padding: 0; /* html과 body의 패딩을 제거 */
}

/* 기본 스타일 */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.8;
    color: #333;
    background-color: #f9f9f9;
}

/* 메인 타이틀 스타일 */
header {
    text-align: center;
    margin-top: 0; /* 상단 여백을 20px로 설정 */
    margin-left: 0; /* 왼쪽 여백을 0으로 설정 */
    margin-right: 0; /* 오른쪽 여백을 0으로 설정 */
    margin-bottom: 100px;
    background-color: black; /* 검은색 배경 추가 */
    padding: 15px 0; /* 위아래 여백 추가 */
}

header h1 {
    font-size: 2.5rem;
    color: white; /* 텍스트 색상을 흰색으로 변경 */
    margin: 0; /* 여백 제거 */
}

/* 표 스타일 */
section.info-table {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section.info-table table {
    width: 100%;
    border-collapse: collapse;
}

section.info-table th, section.info-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

section.info-table th {
    background-color: #f1f1f1;
    font-weight: bold;
    color: #333;
}

section.info-table td {
    background-color: #f9f9f9;
    color: #555;
}

/* 개요와 사건 사고 섹션 스타일: 카드 없이 줄글로 배치 */
.extra {
    margin-top: 40px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.extra h1 {
    font-size: 1.5rem;
    color: #2c3e50;
    text-align: left;
    margin-bottom: 10px;
}

.extra p {
    font-size: 1rem;
    color: #555;
    text-align: left;
    margin-bottom: 20px;
}

/* 링크 스타일 */
a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}

a:hover {
    background-color: #1d6fa5;
}
