<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학교 층별 안내</title>
    <link rel="stylesheet" href="static/school-local.css">
</head>
<body>
    <header>
        <h1>학교 중요 교실 안내</h1>
        
    </header>
    <main>
        <!-- 2층 정보 -->
        <section class="floor">
            <h2>2층</h2>
            <div class="classroom-card">
                <h3>꿈힘참</h3>
                <p>학생들이 자유롭게 사용할 수 있는 공간으로 점심시간, 수요자습, 토요자습 때 자습을 하기 위해 이용한다.</p>
            </div>
            <div class="classroom-card">
                <h3>스터디실</h3>
                <p>꿈힘찬 옆에 있는 교실로 집중적으로 자습할 수 있는 공간이다.</p>
            </div>
        </section>
        <!-- 5층 정보 -->
        <section class="floor">
            <h2>5층</h2>
            <div class="classroom-card">
                <h3>음악실</h3>
                <p>음악 수업이 진행되는 공간</p>
            </div>
        </section>
        <a href="/">메인 페이지로 돌아가기</a>
    </main>
    
</body>
</html>
