<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>선생님 안내</title>
    <link rel="stylesheet" href="/static/teachers.css">
</head>
<body>
    <header class="main-header">선생님 소개  </header> 
    
    <h1>교장선생님과 교감 선생님</h1>
    <div class="teachers-container">
        <div class = "teacher-card">
            <h5> 김무남  선생님 </h5>
            <p> 학생들에게 도움 되는 말씀을 해주신다(교장 선생님 피셜). </p>
        </div>
        <div class = "teacher-card">
            <h5> 신원호  선생님 </h5>
            <p> 학교일에 열정을 가지신다. 학생들에게 친하게 지내신다.</p>
        </div>
    </div>
    <h1>학급 선생님 안내</h1>
    <div class="teachers-container">
        <div class="teacher-card">
            <h2>최인성 선생님</h2>
            <p>체육 선생님으로 2학년 1반 담임을 맡고 있습니다.</p>
        </div>
        <div class="teacher-card">
            <h2>고재혁 선생님</h2>
            <p>미술 선생님으로 2학년 2반 담임을 맡고 있습니다.</p>
        </div>
        <div class="teacher-card">
            <h2>나상현 선생님</h2>
            <p>생명과학 선생님으로 2학년 3반 담임을 맡고 있습니다.</p>
        </div>
        <div class="teacher-card">
            <h2>조수현 선생님</h2>
            <p>영어 선생님으로 2학년 4반 담임을 맡고 있습니다.</p>
        </div>
        <div class="teacher-card">
            <h2>배지애 선생님</h2>
            <p>일본어 선생님으로 2학년 5반 담임을 맡고 있습니다.</p>
        </div>
        <div class="teacher-card">
            <h2>정근욱 선생님</h2>
            <p>정치와 법 선생님으로 2학년 6반 담임을 맡고 있습니다.</p>
        </div>
        <div class="teacher-card">
            <h2>김준석 선생님</h2>
            <p>수학 선생님으로 2학년 7반 담임을 맡고 있습니다.</p>
        </div>
        <div class="teacher-card">
            <h2>김미연 선생님</h2>
            <p>국어 선생님으로 2학년 8반 담임을 맡고 있습니다.</p>
        </div>
    </div>

    <h1>교과 선생님 안내</h1> <!-- h3를 h1으로 변경 -->
    <div class="teachers-container">
        <div class="teacher-card">
            <h4>이단비 선생님</h4>
            <p>국어 선생님으로 3층 교육과정부에 계십니다.</p>
        </div>
        <div class="teacher-card">
            <h4>성연경 선생님</h4>
            <p>물리 선생님으로 3층 교육과정부에 계십니다.</p>
        </div>
        <div class="teacher-card">
            <h4>전명지 선생님</h4>
            <p>지구과학 선생님으로 3층 교무기획부에 계십니다.</p>
        </div>
        <div class="teacher-card">
            <h4>이은지 선생님</h4>
            <p>화학 선생님으로 3층 교육정보부에 계십니다.</p>
        </div>
        <div class="teacher-card">
            <h4>임학남 선생님</h4>
            <p>기하/확률과 통계 선생님으로 3층 교육과정부에 계십니다.</p>
        </div>
        <div class="teacher-card">
            <h4>백은실 선생님</h4>
            <p>경제 선생님으로 1학년 교무실에 계십니다.</p>
        </div>
        <div class="teacher-card">
            <h4>김동환 선생님</h4>
            <p>한국지리 선생님으로 1학년 교무실에 계십니다.</p>
        </div>
        <div class="teacher-card">
            <h4>고재명 선생님</h4>
            <p>사회문화 선생님으로 3층 교무기획부에 계십니다.</p>
        </div>
        <div class="teacher-card">
            <h4>김지현 선생님</h4>
            <p>한국사 선생님으로 3학년 교무실에 계십니다.</p>
        </div>
        <div class="teacher-card">
            <h4>유세호 선생님</h4>
            <p>한문 선생님으로 3학년 교무실에 계십니다.</p>
        </div>
        <div class="teacher-card">
            <h4>임수경 선생님</h4>
            <p>중국어 선생님으로 3층 교육연구부에 계십니다.</p>
        </div>
        <div class="teacher-card">
            <h4>김형준 선생님</h4>
            <p>수학 선생님으로 3층 교육연구부에 계십니다.</p>
        </div>
        <div class="teacher-card">
            <h4>김동현 선생님</h4>
            <p>국어 선생님으로 2층 생활안전부에 계십니다.</p>
        </div>
        <div class="teacher-card">
            <h4>최가은 선생님</h4>
            <p>국어 선생님으로 3층 교무기획부에 계십니다.</p>
        </div>
        <div class="teacher-card">
            <h4>정효균 선생님</h4>
            <p>영어 선생님으로 3층 창체연구부에 계십니다.</p>
        </div>
    </div>
    <a href="/">메인 페이지로 돌아가기</a>

    
</body>
</html>
